[submodule "nav2focbox"]
	path = nav2focbox
	url = git@github.com:ipleiria-robotics/nav2focbox.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = git@github.com:ipleiria-robotics/pointcloud_to_laserscan.git
[submodule "rtabmap"]
	path = rtabmap
	url = https://github.com/introlab/rtabmap.git
	branch = humble-devel
[submodule "opennav_docking"]
	path = opennav_docking
	url = https://github.com/open-navigation/opennav_docking.git
	branch = humble
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-master
[submodule "ros_odrive"]
	path = ros_odrive
	url = https://github.com/odriverobotics/ros_odrive
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
	branch = humble-devel
[submodule "apriltag_ros"]
	path = apriltag_ros
	url = git@github.com:ipleiria-robotics/apriltag_ros.git
